### Scraping

* les ventes au quartier à fin décembre 2018
* le prix de l'action et son % de changement au moment du crawling
* le % Shares Owned des investisseurs institutionels
* le dividend yield de la company, le secteur et de l'industrie

pour les sociétés suivantes : Aribus, LVMH et Danone.

In [90]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [121]:
d = {'vente_avg': [], 
      'vente_high': [],
      'vente_low': [],
      'prix_action': [],
      'action_change': [],
      'share_owned': [],
      'div_compagny': [],
     'div_sector': [],
     'div_industry': [],
     }
df = pd.DataFrame(data=d)
df

Empty DataFrame
Columns: [vente_avg, vente_high, vente_low, prix_action, action_change, share_owned, div_compagny, div_sector, div_industry]
Index: []

In [122]:
link_liste=['https://www.reuters.com/finance/stocks/financial-highlights/LVMH.PA',
           'https://www.reuters.com/finance/stocks/financial-highlights/AIR.PA',
           'https://www.reuters.com/finance/stocks/financial-highlights/DANO.PA']

In [124]:
for i in link_liste[:]:
    page_link = i
    page_response = requests.get(page_link, timeout=5)
    page_content = BeautifulSoup(page_response.content, "html.parser")
    
    vente_2018 = page_content.find('tr',class_='stripe').find_all('td')[2:-1]
    prix_action = page_content.find('span',style='font-size: 23px;').text.strip()
    prix_action_changement = page_content.find('span',class_='valueContentPercent').text.strip().replace("(", "").replace(")", "")
    share_owned = page_content.find('strong',string='% Shares Owned:').findNext().text
    div_compagny = page_content.find('td',string='Dividend Yield').parent()[1:]
    
    df = df.append({'vente_avg': vente_2018[0].text, 
                    'vente_high': vente_2018[1].text,
                    'vente_low': vente_2018[2].text,
                    'prix_action': prix_action,
                    'action_change': prix_action_changement,
                    'share_owned': share_owned,
                    'div_compagny': div_compagny[0].text.strip(),
                    'div_sector': div_compagny[1].text.strip(),
                    'div_industry': div_compagny[2].text.strip()}, ignore_index=True)
df

,vente_avg,vente_high,vente_low,prix_action,action_change,share_owned,div_compagny,div_sector,div_industry
0,"13,667.70","13,769.00","13,575.00",262.20,-1.17%,20.57%,1.92,1.70,2.60
1,"23,493.00","26,073.40","21,431.00",97.30,-1.71%,43.53%,1.45,1.34,1.64
2,"6,072.60","6,142.00","6,025.00",64.38,-1.45%,50.60%,2.90,2.78,2.48

In [125]:
compagny_name =['LVMH','AIRBUS','DANONE']
for i in range(len(compagny_name)):
    df.rename(index={i:compagny_name[i]}, 
              inplace=True)
    
df

,vente_avg,vente_high,vente_low,prix_action,action_change,share_owned,div_compagny,div_sector,div_industry
LVMH,"13,667.70","13,769.00","13,575.00",262.20,-1.17%,20.57%,1.92,1.70,2.60
AIRBUS,"23,493.00","26,073.40","21,431.00",97.30,-1.71%,43.53%,1.45,1.34,1.64
DANONE,"6,072.60","6,142.00","6,025.00",64.38,-1.45%,50.60%,2.90,2.78,2.48